.sidebar {
    grid-area: sidebar;
    border: 1px solid gray;
}

.sidebar a {
    color: black;
}

.item {
    color: white;
    text-decoration: none;
}

.active {
    font-weight: 700;
    text-decoration: none;
}